html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1f1f1f;
    font-weight: 300;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    text-align: center;
    color: #fff;
    background-color: #ff5441;
    padding: 15px 25px;
    font-size: 18px;
    max-width: 245px;
    width: 100%;
    font-weight: 700;
    border-radius: 40px;
    box-shadow: 0 0 15px #ff5441;
    box-shadow: 0px 0px 38px 0px rgba(212, 66, 50, 0.7);
    transition: all 0.3s;
    letter-spacing: 1px;
    &:hover {
        background-color: #d04637;
    }
    &:active {
        opacity: 0.7;
        transform: scale(0.95);
    }
}

img {
    max-width: 100%;
    height: auto;
}
