@import "vars";
@import "global";



.section__top{
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}
